<!doctype html>

<html xmlns="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sàn giao dịch Trung tâm Dịch vụ việc làm Cần Thơ</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
    <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/jqvmap.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/weathericons@2.1.0/css/weather-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/lib/chosen/chosen.min.css">
<script src="https://kit.fontawesome.com/983a8f0a4d.js" crossorigin="anonymous"></script>
    <style>
        #weatherWidget .currentDesc {
            color: #ffffff !important;
        }

        .traffic-chart {
            min-height: 335px;
        }

        #flotPie1 {
            height: 150px;
        }

        #flotPie1 td {
            padding: 3px;
        }

        #flotPie1 table {
            top: 20px !important;
            right: -10px !important;
        }

        .chart-container {
            display: table;
            min-width: 270px;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        #flotLine5 {
            height: 105px;
        }

        #flotBarChart {
            height: 150px;
        }

        #cellPaiChart {
            height: 160px;
        }
    </style>
</head>

<body>
    <!-- Left Panel (menu)-->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="index.html"><i class="menu-icon fa fa-laptop"></i>Trang chủ</a>
                    </li>
                    <li class="menu-title">Chức năng</li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Giới thiệu</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-television"></i><a href="tables-basic.html">Giới thiệu hệ thống</a></li>
                            <li><i class="fa fa-window-maximize"></i><a href="tables-data.html">Hướng dẫn sử dụng</a>
                            </li>
                        </ul>

                    </li>

                    <li>
                        <a href="sangiaodich.html"> <i class="menu-icon ti-stats-up"></i>Sàn giao dịch</a>
                    </li>
                    <li class="menu-title">Tài khoản</li>

                    <li>
                        <a href="/dangnhap"> <i class="menu-icon ti-user"></i>Đăng nhập </a>
                    </li>
                    <li>
                        <a href="/dangky"> <i class="menu-icon ti-id-badge"></i>Đăng ký</a>
                    </li>
					<th:block th:if="${#request.isUserInRole('DOANHNGHIEP')}">
                    <li class="menu-title">Quản lý</li>

                    <li>
                        <a href="/qlibaiviet"> <i class="menu-icon ti-layout"></i>Bài viết</a>
                    </li>
                    <li>
                        <a href="/qlisan"> <i class="menu-icon ti-stats-up"></i>Sàn giao dịch của bạn</a>
                    </li>
                     <li>
                        <a href="/thongke"> <i class="menu-icon ti-server"></i>Thống kê & dữ liệu</a>
                    </li>	
                    </th:block>	
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->      <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/"><i class="menu-icon fa fa-laptop"></i>Trang chủ</a>
                    </li>
                    <li class="menu-title">Chức năng</li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Giới thiệu</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-television"></i><a href="tables-basic.html">Giới thiệu hệ thống</a></li>
                            <li><i class="fa fa-window-maximize"></i><a href="tables-data.html">Hướng dẫn sử dụng</a></li>
                        </ul>

                    </li>
                     <th:block th:if="${#httpServletRequest.remoteUser}">
                     <li>
                        <a href="/sangiaodich"> <i class="menu-icon ti-stats-up"></i>Sàn giao dịch</a>
                    </li>
                    </th:block>
					<th:block th:unless="${#httpServletRequest.remoteUser}">
                   
                    <li class="menu-title">Tài khoản</li>

                    <li>
                        <a href="/dangnhap"> <i class="menu-icon ti-user"></i>Đăng nhập </a>
                    </li>
                    <li>
                        <a href="/dangky"> <i class="menu-icon ti-id-badge"></i>Đăng ký</a>
                    </li>
                    </th:block>
                    <th:block th:if="${#request.isUserInRole('DOANHNGHIEP')}">
                    <li class="menu-title">Quản lý</li>

                    <li>
                        <a href="/qlibaiviet"> <i class="menu-icon ti-layout"></i>Bài viết</a>
                    </li>
                    <li>
                        <a href="/qlisan"> <i class="menu-icon ti-stats-up"></i>Sàn giao dịch của bạn</a>
                    </li>
                    </th:block>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>

    <div id="right-panel" class="right-panel">
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header" style="width: 70%;">
                    <a class="navbar-brand" style="width: 70%;" href="./"><img src="images/logo.png" style="width: 50%;"
                            alt="Logo"></a>
                    <a class="navbar-brand hidden" href="./"><img src="images/logo2.png" alt="Logo"></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="https://cdn-icons-png.flaticon.com/512/219/219983.png" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa- user"></i>Tài khoản của tôi</a>

                            <a class="nav-link" th:href="@{/logoffSuccess}"><i class="fa fa-power -off"></i>Đăng xuất</a>
                        </div>
                    </div>

                </div>
            </div>
        </header>
    </div>

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Content -->
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">

                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                <h2 class="card-title text-center"><i class="fa-solid fa-newspaper"></i> Quản lý bài viết</h2>
                                <div style="width: 50%;">
                                    <i class="fa-solid fa-heading"></i><label style="margin-left: 5px;" class="form-label" for="form3Examplev2">Tiêu đề bài viết :</label>
                                    <input type="text" id="form3Examplev2" th:value="${tieude}" name="tieude" 
                                        class="form-control" />
                                       <label th:text="${errorTieuDe}" style="color: red"></label>
                                </div>
                                <div class="row">
                                <div class="col-xl-6 sm-6">
                                    <i class="fa-solid fa-user-doctor"></i><label style="margin-left: 5px;" class="form-label" for="form3Examplev2">Nhóm ngành nghề :</label>
                                     						<select class="form-control" name="nghe">
																<option th:each="n:${nganhNghe}" th:value="${n.IDNGANHNGHE}" th:text="${n.TENNGANHNGHE}"></option>
															</select>
                                </div>
                                <div class="col-xl-6 sm-6">
                                    <i class="fa-solid fa-street-view"></i><label style="margin-left: 5px;" class="form-label" for="form3Examplev2">Vị trí ứng tuyển :</label>
                                    <input type="text" id="form3Examplev2" name="vitri" th:value="${vitri}"
                                        class="form-control" />
                                </div>
                                </div>
                                 <div class="row">
                                <div class="col-xl-6 sm-6">
                                    <i class="fa-solid fa-user-graduate"></i><label style="margin-left: 5px;" class="form-label" for="form3Examplev2">Trình độ :</label>
                                     <select class="form-control" name="trinhdo">
																<option th:each="t:${trinhDo}" th:value="${t.IDTRINHDO}" th:text="${t.TENTRINHDO}"></option>
															</select>
                                </div>
                                <div class="col-xl-6 sm-6">
                                    <i class="fa-solid fa-people-arrows"></i><label style="margin-left: 5px;" class="form-label" for="form3Examplev2">Độ tuổi :</label>
                                    <input type="text" id="form3Examplev2" name="dotuoi" placeholder="VD: Từ 18-60 tuổi,..." th:value="${dotuoi}"
                                        class="form-control" />
                                </div>
                                </div>
                                <div class="row">
                                 <div class="col-xl-6 sm-6">
                                    <i class="fa-solid fa-money-bill"></i></i><label style="margin-left: 5px;" class="form-label" for="form3Examplev2">Mức lương :</label>
                                    <input type="text" id="form3Examplev2" name="mucluong" th:value="${mucluong}"
                                        class="form-control" />
                                </div>
                                <div class="col-xl-6 sm-6">
                                    <i class="fa-solid fa-receipt"></i><label style="margin-left: 5px;" class="form-label" for="form3Examplev2">Kinh nghiệm :</label>
                                    <select class="form-control" name="kinhnghiem">
																<option th:each="k:${kinhNghiem}" th:value="${k.IDKINHNGHIEM}" th:text="${k.TENKINHNGHIEM}"></option>
															</select>
                                </div>
                                </div>
                                 <div class="form-outline" style="margin-top: 10px;">
                                    <i class="fa-solid fa-list"></i><label style="margin-left: 5px;" class="form-label" for="form3Examplev2">Mô tả công việc :</label>
                                    <textarea class="form-control" id="form3Examplev2" rows="5" name="motacv" th:text="${motacv}"></textarea>
                                </div>
                                 <div class="form-outline" style="margin-top: 10px">
                                    <label class="form-label" for="form3Examplev2">Quyền lợi chế độ :</label>
                                    <textarea class="form-control" id="form3Examplev2" rows="5" name="quyenloi" th:text="${quyenloi}"></textarea>
                                </div>
                                <div class="form-outline" style="margin-top: 10px;">
                                    <label class="form-label" for="form3Examplev2">Yêu cầu :</label>
                                    <textarea class="form-control" id="form3Examplev2" rows="5" name="yeucau" th:text="${yeucau}"></textarea>
                                </div>
                                <div style="width: 50%;">
                                    <label class="form-label" for="form3Examplev2">Hình ảnh :</label>
                                    <input type="file" name="image"
                                        class="custom-file" accept="image/*" />
                                </div>
                               
                                <div class="button" style="margin-top: 10px;">
                                    <button th:formaction="@{/baiviet/save}" class="btn btn-primary">Thêm bài viết mới</button>
                                    <button th:formaction="@{/qlibaiviet/update}" class="btn btn-warning" style="margin-left: 10px;">Cập nhật bài viết<nav></nav></button>
                                    <button th:formaction="@{/baiviet/reset}" class="btn btn-secondary"  style="margin-left: 10px;">Nhập lại</button>

                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title box-title">Bài viết của bạn</h4>
                                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Tiêu đề</th>
                                            <th>Ngày tạo</th>
                                            <th>Thao tác</th>
                                            <th>Gỡ bài xuống</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                         
                                        <tr th:each="p:${baiTuyenDung}">
                                            <td th:text="${p.TIEUDE}"></td>
                                            <td th:text="${#dates.format(p.NGAYDANG, 'dd-MM-yyyy')}"></td>
                                            <td><a th:href="@{|/qlibaiviet/${p.IDBAITUYENDUNG}|}" style="color: green;font-weight: 700;">Chỉnh sửa</a></td>
                                            <td><a th:href="@{|/qlibaiviet/delete/${p.IDBAITUYENDUNG}|}" style="color: red;font-weight: 700;">Xóa bài viết</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!-- /.card-body -->
                        </div><!-- /.card -->
                    </div>
                </div>

            </div>
            <!-- .animated -->
        </div>
        <!-- /.content -->
        <div class="clearfix"></div>
        <!-- Footer -->
        <footer class="site-footer">
        </footer>
        <!-- /.site-footer -->
    </div>
    <!-- /#right-panel -->

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="assets/js/main.js"></script>

    <!--  Chart js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>

    <!--Chartist Chart-->
    <script src="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartist-plugin-legend@0.6.2/chartist-plugin-legend.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flot-pie@1.0.0/src/jquery.flot.pie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flot-spline@0.0.1/js/jquery.flot.spline.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/simpleweather@3.1.0/jquery.simpleWeather.min.js"></script>
    <script src="assets/js/init/weather-init.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.js"></script>
    <script src="assets/js/init/fullcalendar-init.js"></script>
    <script src="assets/js/lib/chosen/chosen.jquery.min.js"></script>
    <script>
        jQuery(document).ready(function() {
            jQuery(".standardSelect").chosen({
                disable_search_threshold: 10,
                no_results_text: "Không có kết quả phù hợp",
                width: "100%"
            });
        });
        function validateForm() {
            var imageInput = document.getElementById('myImageInput');
            
            // Kiểm tra xem người dùng đã nhấn vào nút hình ảnh hay chưa
            if (imageInput.src === '') {
                alert('Vui lòng chọn hình ảnh trước khi gửi.');
                return false;
            }
        }
    </script>
</body>

</html>